@use 'vars' as *;

.form-add {
  padding: 2rem 1rem;
  border-radius: 5px;
  background-color: $nes;
  input {
    padding: 4px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
  }
}
.multi-container {
  background-color: $nes;
  border-radius: 5px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.multi {
  display: flex;
  gap: 1rem;
  padding: 10px;
  border-radius: 5px;

  .multi-el {
    background-color: $nes;
    font-weight: 600;
    color: $espresso;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;

    &:hover {
      background-color: $espresso;
      color: $nes;
    }
  }
}
