.profile {
  display: flex;

  border: 1px solid #333;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

.btn {
  border: none;
  color: #3f3f3f;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 1.3rem;
  border: 1px solid #e1dede;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border: 1px solid #979393;
  }
}

.text-flex {
  display: flex;
}
