@use 'vars' as *;

.toys-flex {
  padding: 1rem;
  background-color: $nes;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  border-radius: 5px;
}

.toy-preview {
  height: 100%;
  background-color: $light;
  color: $espresso;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 5px;

  img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
}
